<div class="alert mb-4">
  <%= svg_icon('info_circle', class: 'w-6 h-6') %>
  <div>
    <p class="font-bold"><%= t('sign_request_email_reminders') %></p>
    <p class="text-gray-700">
      <%= t('send_automatic_email_reminders_to_your_recipients') %>
    </p>
  </div>
</div>
