<div class="mt-2 mb-1">
  <%= link_to submitter.sent_at? ? t('re_send_sms') : t('send_sms'), send_submission_sms_path(submission.slug, submitter_id: submitter.uuid), class: 'btn btn-sm btn-primary w-full', data: { turbo_method: :post } %>
</div>
